<a href="https://colab.research.google.com/github/Nsho0724/signate_phone/blob/main/price_range_defo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path = "/content/drive/My Drive/SIGNATE/compe01/"
train = pd.read_csv(path + "train.csv")
test = pd.read_csv(path + "test.csv")
sample_submission = pd.read_csv(path + "sample_submission.csv")

In [ ]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_row', 1000000)

In [ ]:
print(train.shape)
print(test.shape)

(1200, 22)
(800, 21)

In [ ]:
train_df = train
test_df = test

In [ ]:
train_df.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [ ]:
test_df.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [ ]:
train_df.isnull().sum()

id               0
battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [ ]:
test_df.isnull().sum()

id               0
battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [ ]:
train_df.head(5)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0,1203,0,0.680981,1,1,1,23,0.402580,117,3,2,1331,721,1970,15,1,4,1,0,1,2
1,3,1203,1,2.602754,1,0,0,8,0.415612,194,1,19,1571,1262,1150,14,16,14,1,0,1,3
2,4,1980,1,2.604065,1,0,0,6,0.858110,122,2,15,364,721,1970,18,12,11,1,0,1,1
3,5,1185,1,2.669403,1,3,0,33,0.027065,132,8,4,447,1162,1950,15,3,19,1,0,0,2
4,7,1203,1,2.375453,0,4,1,12,0.141485,135,6,5,364,1917,1970,16,7,6,1,1,1,0

In [ ]:
test_df.head(5)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1203,0,0.498993,1,0,1,40,0.914530,190,8,7,381,721,1970,6,1,2,1,0,1
1,2,1154,0,1.981014,0,1,0,33,0.025999,82,6,10,376,1555,1970,11,7,3,1,0,0
2,6,1027,1,1.647026,0,0,1,32,0.912318,103,6,1,364,1374,1970,17,1,6,1,0,0
3,10,833,0,1.070061,0,0,0,2,0.033010,156,7,0,1331,1710,832,12,8,8,1,1,0
4,12,1027,1,1.859165,0,4,1,2,0.612349,171,1,13,667,1642,2655,14,5,2,1,1,0

In [ ]:
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from lightgbm import LGBMClassifier
from sklearn.model_selection import  GridSearchCV 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [ ]:
#説明変数と目的変数に分割
X = train.drop(["id","price_range"],axis = 1)
y = train["price_range"]
#標準化
scaler = StandardScaler()
X_sc = scaler.fit_transform(X)
test_sc = scaler.fit_transform(test)

In [ ]:
lg = LGBMClassifier()
lg.fit(X,y)
lg_scores = cross_validate(lg,X,y,scoring ="accuracy",cv =5)

In [ ]:
# #標準化
# lg = LGBMClassifier()
# lg.fit(X_sc,y)
# lg_scores_sc = cross_validate(lg,X_sc,y,scoring ="accuracy",cv =5)

In [ ]:
rf = RandomForestClassifier()
# rf = RandomForestClassifier(n_estimators=100, random_state=42,max_depth= 20,min_samples_leaf=1)
rf.fit(X,y)
rf_scores = cross_validate(rf,X,y,scoring ="accuracy",cv =5)

In [ ]:
# #標準化
# rf = RandomForestClassifier()
# # rf = RandomForestClassifier(n_estimators=100, random_state=42,max_depth= 20,min_samples_leaf=1)
# rf.fit(X_sc,y)
# rf_scores_sc = cross_validate(rf,X_sc,y,scoring ="accuracy",cv =5)

In [ ]:
svc = SVC()
svc.fit(X,y)
svc_scores = cross_validate(lg,X,y,scoring ="accuracy",cv =5)

In [ ]:
# #標準化
# svc = SVC()
# svc.fit(X_sc,y)
# svc_scores_sc = cross_validate(lg,X_sc,y,scoring ="accuracy",cv =5)

In [ ]:
xg = XGBClassifier()
# xgb_y = y-1
xg.fit(X,y)
xg_scores = cross_validate(xg,X,y,scoring ="accuracy",cv =5)

In [ ]:
# #標準化
# xg = XGBClassifier()
# # xgb_y = y-1
# xg.fit(X_sc,y)
# xg_scores_sc = cross_validate(xg,X_sc,y,scoring ="accuracy",cv =5)

In [ ]:
def model_scores(model_scores):
    for key in model_scores.keys():
        print(key + ' test scores: ', model_scores[key])
    print("Average test score: ", model_scores["test_score"].mean())

In [ ]:
scores =[lg_scores,rf_scores,svc_scores,xg_scores]
# scores_sc =[lg_scores_sc,rf_scores_sc,svc_scores_sc,xg_scores_sc]
scores_ =["LGBMClassifier","RandomForestClassifier","SVC","XGBClassifier"]

In [ ]:
for i in range(len(scores)):
  print(scores_[i])
  model_scores(scores[i])
  print("\n")

LGBMClassifier
fit_time test scores:  [0.36226201 0.389328   0.3580246  0.34380817 0.40009332]
score_time test scores:  [0.00920129 0.00935364 0.00890851 0.00896645 0.00892043]
test_score test scores:  [0.44166667 0.46666667 0.475      0.48333333 0.47916667]
Average test score:  0.4691666666666666


RandomForestClassifier
fit_time test scores:  [0.35368538 0.32440782 0.35406303 0.34798479 0.32972383]
score_time test scores:  [0.01809812 0.02096891 0.02496505 0.02371907 0.02126932]
test_score test scores:  [0.47083333 0.50833333 0.47916667 0.47916667 0.49166667]
Average test score:  0.48583333333333334


SVC
fit_time test scores:  [0.37410665 0.39880204 0.36326575 0.35135841 0.34659863]
score_time test scores:  [0.0165503  0.00914145 0.00925565 0.00892973 0.00880289]
test_score test scores:  [0.44166667 0.46666667 0.475      0.48333333 0.47916667]
Average test score:  0.4691666666666666


XGBClassifier
fit_time test scores:  [0.72549319 0.70427203 0.72331429 3.65545082 0.71707535]
score_time test scores:  [0.00708342 0.00679946 0.00794673 0.00695825 0.00677466]
test_score test scores:  [0.48333333 0.48333333 0.4875     0.4875     0.48333333]
Average test score:  0.485

In [ ]:
# for i in range(len(scores_sc)):
#   print(scores_[i])
#   model_scores(scores_sc[i])
#   print("\n")

In [ ]:
lg_pred =lg.predict(test.drop(["id"],axis = 1))

In [ ]:
submission = pd.DataFrame({
    "id":test["id"],
    "price_range":lg_pred
})

In [ ]:
# submission = pd.DataFrame(test["id"],xg_pred)

In [ ]:
# submission = np.array([[test["id"]],[xg_pred]])

In [ ]:
submission.head(10)

   id  price_range
0   1            3
1   2            0
2   6            3
3  10            0
4  12            2
5  13            3
6  15            0
7  18            1
8  23            1
9  24            1

In [ ]:
# submission.columns =[]

ValueError: ignored

In [ ]:
# Google Drive・Google Colaboratoryで作業する場合
submission.to_csv('submission.csv',header=False,index=False)

from google.colab import files
files.download('submission.csv')